.formDevList {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-label {
  margin-left: 1rem;
  margin-top: 1rem;
}

.form-check {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
  margin-left: 1rem;
}

.form-check-label {
  margin-left: 1rem;
}

.form-check-input {
  margin-right: 0rem;
}

.form-control {
  width: 100%;
  margin-left: 1rem;
  display: flex;
}

.form-input-role .form-label {
  width: 100%;
  margin-left: -1rem;
  display: flex;
  margin-top: 1rem;
}

.form-input-role .form-control {
  width: 20rem;
  margin-left: -1rem;
  display: flex;
  margin-top: 1rem;
}


.card-body{
  margin-top: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.form-input-roles {
  position: relative;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1rem;

}
.mb-4 {
  margin-top: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f8f9fa;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.list-group{
  width: 100%;
  align-items: center ;
  justify-content: center;
  display: flex;
  flex-direction: column;


}
