.form-role {
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
}


.form-input-role {
  margin-bottom: 1rem;
}

.formDevList {
  max-height: 22rem;
  overflow-y: auto;
  padding: 1rem;
  background-color: #fff;

}

.formDevList .mb-2 {
  display: inline-block;
  width: 48%; 
  margin-right: 2%;
  margin-bottom: 1rem;
  vertical-align: top; 
  border: 1px solid #ced4da;
  padding: 1rem;
  border-radius: 0.25rem;
  justify-content: space-between;
  }
  @media (max-width: 768px) {
    .formDevList .mb-2 {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }

.form-label {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.5;
  color: black;
  
}

.form-input-roles {
  width: 100%;
  margin-top: 1rem;
  max-height: 40rem;
  overflow-y: auto;
}

.list-group {
  margin-bottom: 1rem;
}

.list-group-item {
  margin: 0.5rem 1;
}

.btn {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}
