.admin-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            background-color: #fff;
  
          
  
}
.admin-form{
  display: flex;
  overflow-y: auto;
  max-height: 38.3rem;
  margin: 2rem;
  
  
}

.admin-forms div {
  margin-bottom: 10px;

}

.admin-forms label {
  font-weight: bold;
  margin-right: 10px;
}


.admin-forms select {
  width: 256px;
}

.admin-forms .role-changes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.admin-forms .edit-update-cancel {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.admin-forms .edit-update-cancel button {
  width: 100px;
  margin: 0 10px;
}

.form-group label {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}
.form-group input {
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  
  
}
.form-group input:focus {
  outline: none;
  border-color: #2e6da4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.add-user{
  margin: 2rem;
  display: flex;
  margin-bottom: 3rem;
  margin-right: 2rem;
}