form {
  position: relative;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin-left: 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.device-form {
  position: absolute;
  margin-left: 4rem;
}

.header-two {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 5rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  transition: border-color 0.2s ease-in-out;
  font-size: 1rem;
  font-family: inherit;
  width: fit-content;
  margin-top: 0.75rem;
}

input:focus {
  outline: none;
  border-color: #777;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 1rem;
}